<div class="midhome">
    <div class="midhome-container">
        <img src="../../../assets/images/ribbon.png" alt="ribbon" class="midhome-ribbon">
        <i class="midhome-leaders">We're leaders in</i>
        <p class="midhome-recruitment">Creative Digital Recruitment</p>
        <div  class=seprator></div>
        <div class="midhome-place">Based in Surryhills,the creative hub of Sydney we are surrounded by creativity 
        <p> and that
         reflects on the type of jobs we recruit for</p>
        </div>
        <a  class="midhome-aboutus" href="#">Find out More About us</a>
        <img src="../../../assets/images/ribbon.png" alt="ribbon" class="midhome-ribbon">
        <div class="midhome-mailing">
            <div class="midhome-subscribe">Subscribe to our mailing list</div>
            <input type="text" class="midhome-email" placeholder="Enter your Email Address">
        </div>
    </div>

  
</div>

